* {
  box-sizing: border-box;
}

h1 {
  background-color: #353535;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 825px;
}

h2 {
  background-color: aquamarine;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

ul {
  width: 300px;
  margin-top: 9px;
  margin-right: auto;
  margin-left: auto;
}

li {
  display: inline;
  margin: 2px;
  color: white;
  background-color: lightgrey;
  font-size: 16px;
  font-weight: bolder;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px;
}

h2 > span {
  text-decoration: underline yellow;
  font-size: 16px;
  font-weight: bolder:
}

main {
  display: block;
}

.sandbox {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.photo {
  width: 230px;
  margin: auto;
  display: inline-block;
}

.picture-bar {
  background-color: #FFD92D;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 13px;
  width: 230px;
  text-align: center;
}

p {
  font-size: 10px;
  text-align: center;
}

.edit, .delete {
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: blue;
  text-decoration: underline blue;
}

footer {
  background-color: black;
  font-size: 8px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  width: 825px;
  padding: 15px;
  margin: auto;
}
